.hero-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 4.0625rem;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.features-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.hero-section {
    position: relative;
    background: url('assets/flares.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.gradient-text {
    background: linear-gradient(90deg, #6D52FD 0%, #F13A8A 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-container {
    position: relative;
    display: inline-block;
}

.button-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 1000px;
    background: #6D51FD;
    filter: blur(120px);
    z-index: -1;
    opacity: 0.2;
    border-radius: 50%;
}

.download-container {
    position: relative;
    display: inline-block;
}

.download-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 1000px;
    background: #9666ff;
    filter: blur(120px);
    z-index: -1;
    opacity: 0.2;
    border-radius: 50%;
}

.logo-container {
    position: relative;
    display: inline-block;
}

.logo-container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 1000px;
    background: linear-gradient(180deg, #de43a3 0%, #FFFFFF 100%);
    filter: blur(120px);
    z-index: -1;
    opacity: 0.4;
}

.fs-card {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stacked-images-section {
    position: relative;
    height: 604px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .stacked-images-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 1.5rem;
    object-fit: contain;
    z-index: 1;
  }
  
  .pinay-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
  }

  .mock-services-image {
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 25%;
    width: 30%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
  }

  .content-box {
    position: absolute;
    top: 20%;
    left: 60%;
    width: 35%;
    height: 100%;
    text-align: left;
    color: #000;
    z-index: 10;
  }

.cs-card {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cs-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .pinay-image,
    .mock-services-image {
        display: none;
    }
}

/* .compatibility-section {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background: url(assets/compatibilty-animated-images.png) no-repeat right center;
    background-size: cover;
    height: 500px;
    position: relative;
} */